# Environment configuration files
.env

# Maven wrapper - exception for jar
!.mvn/wrapper/maven-wrapper.jar

# Compiled Java classes
/target/
!**/src/main/**/target/
!**/src/test/**/target/

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE - Spring Tool Suite specific
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IDE - IntelliJ IDEA specific
.idea
*.iws
*.iml
*.ipr

# IDE - NetBeans specific
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# others
HELP.md
target/